@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/***********ボディ***********/
body{
  max-width:100%;


/************フォントの一括変更***********/
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: italic;
}

/*********ヘッダー***********/
.header{
  width: 100%;
}

.header a{
  text-decoration: none;
}

.title-area{
  color:#8E3330;
  display: flex;
  justify-content: space-around;
  padding:30px 0 30px 0;
}

.title-area .title-img{
  width:25%;
  margin-right: -75px;
  margin-top: 10px;
}

.title-area a img{
  width: 100%;
}

.icon1{
  margin-top: 5px;
  width:50px;
}

.icon1 img{
  width:100%;
}

.auth-path .logout-button {
  margin: 0 0 0 90px;
}

.auth-path input{
  font-size: 16px;
  color:#8E3330;
}

.auth-path input:hover{
  background-color:#8E3330;
  color: white;
}


.images{
  width:100%;
  text-align: center;
}

.images img{
  width:90%;
  }


/*********メイン***********/
.main{
  text-align: center;
}

.main a{
  color:#0f0f0d;
  text-decoration: none;
}

.icon2{
  width:12%;
  margin:60px 0 60px 0;
}

.icon2 img{
  width:100%;
}

.list-top a {
  text-decoration: none;
}

.list-top .btn{
  background-color: #8E3330;
  color:white;
  font-size:16px;
  margin-right:30px;
}

.list-top .btn:hover{
  background-color: #ca7373;
  cursor: pointer;
}

.list-top a:hover{
  color:white;
  cursor: default;
}

.list-title{
  width: 300px;
  margin: 50px 0 50px 100px;
}

.list-title img{
  width: 100%;
  float:left;
}

.list-box{
  width:75%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top:130px;
  text-align: center;
}

.list-area{
  color: #0f0f0d;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  width:380px;
  height:200px;
  padding: 0.5em 1em;
  margin-bottom: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-area{
  width: 100%;
}

.edit-area-icon{
  display: flex;
  width:50px;
  margin: 0 0 0 auto;
}

.edit-area .edit{
  width:20px;
  margin-right: 5px;
}

.edit-area .del{
  width:20px;
}

.edit-area-icon a img{
  width:100%;
}

.text{
	display: inline-block;
  text-align:left;
  font-size: 18px;
  line-height:2.5;
  padding-bottom: 0;
  margin:0;

}

.delete{
  width:100%;
  text-align: right;
  margin-bottom: 0;
}

.delete a{
  color: red;
  margin-right: 20px;
}


/*********ログイン画面***********/
.text-center{
  width:50%;
}

/*********グループ画面***********/
.my-group{
  background-color: rgba(31, 30, 30, 0.8);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  color:white;
  display: flex;
  text-align: center;
}

.group-name{
  border-radius: 5px;
  padding:20px 0;
  margin:0 auto;
  width: 100%;
  color:white;
  text-align: center;
  font-family: 'MV Boil';
  font-weight: bold;
  font-size: 22px;
}

.my-group h1{
  width: 100%;
  font-family: 'MV Boil';
  font-weight: bold;
  margin: 0 auto;
  margin-left: 35px;
}

.group-area{
  margin-bottom: 10px;
  height:500px;
  overflow:auto;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  color:white;
}

.group-edit-area{
  width: 10%;
}

.group-edit-area .edit-area-icon{
  margin-top: 50px;
  margin-right: 5px;

}

.group-list-box{
    width:85%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top:30px;
    text-align: center;
  }

.group-list-box a{
    text-decoration: none;
}



/*********献立作成・編集画面***********/

.button-area{
  width:40%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.reverse{
height: 60px;
width: 110px;
padding: 20px;
}

.reverse a{
  text-decoration: none;
}

.main-container img{
  width: 30px;
  margin-right: 5px;
}


/*********グループ選択画面***********/
.my-group-body{
  width:100%;
  position: absolute;
	transform: translate(-50%, -50%);
  top: 50%;
	left: 50%;
}

.pick-my-group{
  background-color: rgba(31, 30, 30, 0.8);
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  color:white;
  display: flex;
  text-align: center;
}

.pick-my-group h1{
  width: 50%;
  font-family: 'MV Boil';
  font-weight: bold;
  margin: 0 auto;
}

.group-pick-list{
  background-color: #ffff;
  opacity: 0.8;
  padding:40px;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  max-width: 1000px;
  width: 100%;
  font-size: 25px;
  font-family: 'MV Boil';
  font-weight: bold;
  text-align: center;

}

.group{
  height:250px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  padding-left: 0;/**デフォルトのlist左の空白なくす**/

}

.group li{
  list-style: none;
  color:#0f0f0d;  
}

.group li:hover{
  background: #fcfb6c;
  transition : .3s;
}

.group a{
  text-decoration: none;
}

/* 献立登録時メッセージ */
.update-alert {
  position: absolute;
  padding: 20px 10%;
  top: 20%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-color: rgb(228, 0, 0);
  font-size: 16px;
}

